<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegaptips.racing_calendar23" version="2017" versionCode = "80" xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Racing Calendar</name>
    <description>
        Para saber qué carreras habrá el fin de semana.
    </description>
    <author email="patricioarango@gmail.com" href="http://plus.google.com/+PatricioArango">
        @patricioarango
    </author>
    <icon src="icon.png" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="orientation" value="portrait" />
    <plugin name="cordova-plugin-geolocation" source="npm"  />
    <plugin name="cordova-plugin-network-information" source="npm"  />
    <plugin name="cordova-plugin-statusbar" source="npm"  />
    <plugin name="cordova-plugin-dialogs" source="npm"  />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <preference name="permissions" value="none" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <preference name="StatusBarBackgroundColor" value="#3498db" />
        <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
