html, body { margin: 0; padding: 0; }


body {

	background-color: #ecf0f1;
	
}
header {
	background-color: #e74c3c;
	width: 100%;
	height: 60px;
	color: white;
	border-bottom: 5px solid #c0392b;
}
#rango_fecha {
	padding-top: 10px;
}
.texto23 {
	font-size: 20px;
	padding-top: 15px;
	text-align: center;
	font-weight: 500;
}
section {
	color: #2c3e50;
}
.ultra-bold {
	font-weight:900;
}
.light {
	font-weight: 100;
}
.regular {
	font-weight: 300;
}
.listado {
	width: 100%;
	border-bottom: 2px solid #e74c3c;
}
.listado_der {
	width: 75%;
	height: 100%;
	margin-left: 25%;
}
.listado_izq {
		width: 25%;
		float: left;
		color: #e74c3c;
		text-align: center;
		height: 100%;
}
.principal {
	width: 100%;

}
.info {
	width: 100%;
}
.distancia {
	width: 100%;
	
}
.loading_contenedor {
	width: 25%;
	float: left;
	margin-left: 37.5%;
	margin-top: 10%;
}
#loading {
	width: 100%;
}
.icono {
	font-size: 3em;
}
.texto-secundario {
	margin-left: 20px;
}
.borde {
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 0px;
}
.lista_heading {
	font-weight: 500;
	font-size: 1.1em;
}
.lista_secundario {
	color: rgba(0,0,0,0.54);
	font-size: 0.9em;
}
